.item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--global-white-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.true {
    background-color: var(--global-green-color);
}

.false {
    background-color: var(--global-red-color);
}

.avatar {
    border-radius: 5px;
    background-color: var(--avatar-bg-color);
}
.name {
    font-weight: 700;
    color: var(--global-black-color);
}