.friend_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;    
    margin-top: 0;
    margin-bottom: 100px;
}