.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--global-white-color);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-bottom: 100px;
}
.title {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 600;
}
.stat_list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item:nth-child(2n) {
    background-color: #20b2aa;
    color: var(--global-white-color);
}

.item:nth-child(odd) {
    background-color: #800080;
    color: var(--global-white-color);
}

.label {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 14px;
}
.percentage {
    margin: 0;
    padding: 0;
    font-size: 18px;
}