.transaction_history {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

thead tr{
    height: 60px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: var(--global-sky-color);
    color: var(--global-white-color);
}

td {
    height: 40px;
    border: 1px solid var(--global-white-color);
    text-align: center;
}

td:first-child {
    text-align: left;
}

td::first-letter {
    text-transform: capitalize;
}

tbody tr:nth-child(odd) {
    background-color: var(--global-white-color);
}

tbody tr:nth-child(even) {
    background-color: none;
}